@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Default: Light Mode */
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 120 63% 47%; /* Adjusted to darker green */
    --primary-foreground: 120 40% 90%; /* Adjusted to darker green */
    --secondary: 120 40% 40%; /* Adjusted to darker green */
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 120 40% 40%; /* Adjusted to darker green */
    --muted-foreground: 120 25% 50%; /* Adjusted to darker green */
    --accent: 120 40% 40%; /* Adjusted to darker green */
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 120 40% 90%; /* Adjusted to darker green */
    --border: 120 35% 40%; /* Adjusted to darker green */
    --input: 120 35% 40%; /* Adjusted to darker green */
    --ring: 120 63% 47%; /* Adjusted to darker green */
    --radius: 0.5rem;
  }

  /* Dark Mode (Only when class="dark" is applied) */
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 120 40% 90%; /* Adjusted to darker green */
    --card: 24 10% 10%;
    --card-foreground: 120 40% 90%; /* Adjusted to darker green */
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 120 40% 90%; /* Adjusted to darker green */
    --primary: 120 63% 47%; /* Adjusted to darker green */
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 120 35% 30%; /* Adjusted to darker green */
    --secondary-foreground: 120 40% 90%; /* Adjusted to darker green */
    --muted: 120 35% 30%; /* Adjusted to darker green */
    --muted-foreground: 120 30% 60%; /* Adjusted to darker green */
    --accent: 120 35% 30%; /* Adjusted to darker green */
    --accent-foreground: 120 40% 90%; /* Adjusted to darker green */
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 120 40% 90%; /* Adjusted to darker green */
    --border: 120 35% 30%; /* Adjusted to darker green */
    --input: 120 35% 30%; /* Adjusted to darker green */
    --ring: 124.3 63% 47%; /* Adjusted to darker green */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
